% for both mad and rebar3

{deps, [{n2o,    ".*", {git, "https://github.com/synrc/n2o",     {tag,"master"}}},
        {active, ".*", {git, "https://github.com/synrc/active",  {tag,"master"}}},
        {syn,    ".*", {git, "https://github.com/ostinelli/syn", {tag,"master"}}},
        {gun,    ".*", {git, "https://github.com/ninenines/gun", {tag,"1.3.0"}}}]}.

% for rebar3 release

{relx, [{release, {sample, "0.7.0"},[erlang_ngondro]},
        {dev_mode, false},
        {sys_config, "sys.config"},
        {vm_args, "vm.args"},
        {include_erts, true},
        {extended_start_script, true}]}.

% for rebar3 shell

{shell,[{config, "sys.config"},
        {apps, [erlang_ngondro]}]}.
