% Syob application configuration

[{syob, [
  {app, syob},
  {bitmex_api_key, "VRljkeAiXH80mRndOA0TuBfY"},
  {bitmex_secret, "sgJWLHhtOiIGXYJaeEhtLLMLFiH_aSawmI7lwLswHSsm_r1M"},
  {notify_spread, 20},
  {notify_debounce, 10000},
  {notify_endpoint, "https://api02.ethercast.net/spread"},
  {notify_credentials, <<"user:FitoJabaX">>}
]}].