[{syob, [{app, syob},
         {logger_level,error},
         {logger,[{handler, synrc, logger_std_h,
            #{formatter => {logger_formatter, #{single_line => true, template => [time," ",pid," ",msg,"\n"]}},
              level => debug,
              id => synrc,
              module => logger_std_h,
              config => #{type => file, file => "syob.log"}}} ]},
         {bitmex_api_key, "VRljkeAiXH80mRndOA0TuBfY"},
         {bitmex_secret, "sgJWLHhtOiIGXYJaeEhtLLMLFiH_aSawmI7lwLswHSsm_r1M"},
         {notify_spread, 1},
         {notify_debounce, 10000},
         {notify_endpoint, "https://api02.ethercast.net/spread"},
         {notify_credentials, <<"user:FitoJabaX">>}]}].